@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Set default body styles */
	body {
		color: #0d0d0d; /* Set the default text color */
		font-size: 16px;
		font-weight: light;
	}

	label {
		@apply text-darkGray  ;
	}

	h1 {
		@apply text-5xl font-semibold text-primary mb-5;
	}
	h2 {
		@apply text-4xl font-medium text-primary mb-5;
	}
	h4 {
		@apply text-sm font-medium tracking-wider text-gray-400 uppercase;
	}
	p {
		@apply text-darkGray mb-3;
	}
}
